In [2]:
import pandas as pd
import numpy as np

# Workflow Description

In [3]:
# Load the data files
file_path_female = 'data/remaining-life-expectancy-at-different-ages-females.csv'
file_path_male = 'data/remaining-life-expectancy-at-different-ages-males.csv'

female_data = pd.read_csv(file_path_female)
male_data = pd.read_csv(file_path_male)

#### Create basic df structure with clear target variable of remaining-life-expectancy-at-different-ages-females and males

In [4]:
# Extracting age columns and reshaping the female data
female_reshaped = female_data.melt(id_vars=['Entity', 'Year', 'Code'],
                                   var_name='Age', value_name='Remaining Life Expectancy')
female_reshaped['Sex'] = 'Female'

# Extracting age columns and reshaping the male data, including 'Code'
male_reshaped = male_data.melt(id_vars=['Entity', 'Year', 'Code'],
                               var_name='Age', value_name='Remaining Life Expectancy')
male_reshaped['Sex'] = 'Male'

# Concatenate the reshaped dataframes with 'Code'
combined_data = pd.concat([female_reshaped, male_reshaped])

# Extract the age from the 'Age' column
combined_data['Age'] = combined_data['Age'].str.extract(r'Age: (\d+)').astype(int)

# Reordering columns for clarity
combined_data = combined_data[['Entity', 'Code', 'Year', 'Sex', 'Age', 'Remaining Life Expectancy']]

combined_data.head()

        Entity Code  Year     Sex  Age  Remaining Life Expectancy
0  Afghanistan  AFG  1950  Female    0                    28.3905
1  Afghanistan  AFG  1951  Female    0                    28.6345
2  Afghanistan  AFG  1952  Female    0                    29.1260
3  Afghanistan  AFG  1953  Female    0                    29.6212
4  Afghanistan  AFG  1954  Female    0                    29.9004

Based on an analysis of the available datasets, we have decided to limit the data range to the years 2000 to 2020. This will help us manage the amount of missing data (NaN) more effectively.

In [38]:
# Filtering the data for years between 2000 and 2020 and removing rows without a 'Code' variable beacuse theyre not Countries
filtered_data = combined_data.dropna(subset=['Code'])
filtered_data = filtered_data[(filtered_data['Year'] >= 2000) & (filtered_data['Year'] <= 2020)]

filtered_data.to_csv('filtered_data-2000_2020.csv', index=False)
filtered_data.head()

         Entity Code  Year     Sex  Age  Remaining Life Expectancy
50  Afghanistan  AFG  2000  Female    0                    56.8579
51  Afghanistan  AFG  2001  Female    0                    57.3437
52  Afghanistan  AFG  2002  Female    0                    57.6715
53  Afghanistan  AFG  2003  Female    0                    58.6498
54  Afghanistan  AFG  2004  Female    0                    59.2159

#### Adding more data

In [6]:
# Load the additional data files
file_path_education_expenditure = 'data/total-government-expenditure-on-education-gdp.csv'
file_path_internet_usage = 'data/share-of-individuals-using-the-internet.csv'
file_path_electricity_access = 'data/share-of-the-population-with-access-to-electricity.csv'
file_path_sanitation = 'data/share-using-safely-managed-sanitation.csv'
file_path_smoking = 'data/share-of-adults-who-smoke.csv'
file_path_gdp = 'data/gdp.csv'
file_path_meat_supply = 'data/meat-supply-per-person.csv'
file_path_obesity = 'data/obesity.csv'
file_path_healthcare_spending = 'data/public-healthcare-spending-share-gdp.csv'
file_path_air_pollution = 'data/pm25-air-pollution.csv'
file_path_democracy_index = 'data/DemocracyIndex.csv'

# Reading the data files into DataFrames
education_expenditure_data = pd.read_csv(file_path_education_expenditure)
internet_usage_data = pd.read_csv(file_path_internet_usage)
electricity_access_data = pd.read_csv(file_path_electricity_access)
sanitation_data = pd.read_csv(file_path_sanitation)
smoking_data = pd.read_csv(file_path_smoking)
gdp_data = pd.read_csv(file_path_gdp)
meat_supply_data = pd.read_csv(file_path_meat_supply)
obesity_data = pd.read_csv(file_path_obesity)
healthcare_spending_data = pd.read_csv(file_path_healthcare_spending)
air_pollution_data = pd.read_csv(file_path_air_pollution)

# Reading and selecting specific columns from the Democracy Index file
democracy_index_data = pd.read_csv(file_path_democracy_index)[['Entity', 'Code', 'Year', 'Electoral democracy index']]

# Joining all these dataframes with the filtered_data dataframe based on 'Entity' and 'Year'
# Only join when the year exists in the filtered_data
# Adding custom suffixes to handle duplicate column names
merged_data = filtered_data
for df in [education_expenditure_data, internet_usage_data, electricity_access_data, 
           sanitation_data, smoking_data, gdp_data, meat_supply_data, 
           obesity_data, healthcare_spending_data, air_pollution_data, democracy_index_data]:
    merged_data = merged_data.merge(df, on=['Entity', 'Year'], how='left', suffixes=('', '_extra'))

# Dropping extra columns created due to overlapping column names (if any)
columns_to_drop = [col for col in merged_data.columns if '_extra' in col]
merged_data.drop(columns=columns_to_drop, inplace=True)

merged_data.sample(10)

merged_data.to_csv('merged_data.csv', index=False)

##### checking if data is correctly merged

In [7]:
# Filter the DataFrame for Switzerland and the year 2010
switzerland_data_2010 = merged_data[(merged_data['Entity'] == 'Switzerland') & (merged_data['Year'] == 2010)]

switzerland_data_2010

,Entity,Code,Year,Sex,Age,Remaining Life Expectancy,Gov expenditure on education (%),Internet usage (% of population),Access to electricity (% of population),SanitationAccess,SmokingRateAdults,GDP ($),Meat consumptionm in kg per year per capita,ObesityRate (BMI > 30),Healthcare spending (% of GDP),"air pollution, annual exposure (micrograms per cubic meter)",Electoral democracy index
4315,Switzerland,CHE,2010,Female,0,84.3602,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
9292,Switzerland,CHE,2010,Female,10,74.7753,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
14269,Switzerland,CHE,2010,Female,15,69.8006,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
19246,Switzerland,CHE,2010,Female,25,59.9133,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
24223,Switzerland,CHE,2010,Female,45,40.3310,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
29200,Switzerland,CHE,2010,Female,65,21.9793,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
34177,Switzerland,CHE,2010,Female,80,9.9016,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
39154,Switzerland,CHE,2010,Male,0,80.0230,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
44131,Switzerland,CHE,2010,Male,10,70.3838,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
49108,Switzerland,CHE,2010,Male,15,65.4156,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
54085,Switzerland,CHE,2010,Male,25,55.6517,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
59062,Switzerland,CHE,2010,Male,45,36.3337,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
64039,Switzerland,CHE,2010,Male,65,18.7386,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899
69016,Switzerland,CHE,2010,Male,80,8.1907,4.8021,83.9,100.0,98.71,26.9,5.174870e+11,73.72054,18.8,3.21735,12.922219,0.899

In [8]:
print("Basic Information:")
print(merged_data.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69678 entries, 0 to 69677
Data columns (total 17 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Entity                                                       69678 non-null  object
 1   Code                                                         69678 non-null  object
 2   Year                                                         69678 non-null  int64
 3   Sex                                                          69678 non-null  object
 4   Age                                                          69678 non-null  int32
 5   Remaining Life Expectancy                                    69678 non-null  float64
 6   Gov expenditure on education (%)                             42168 non-null  float64
 7   Internet usage (% of population)                             57274 non-null  float64
 8   Access to electricity (% of population)                      62398 non-null  float64
 9   SanitationAccess                                             40446 non-null  float64
 10  SmokingRateAdults                                            16072 non-null  float64
 11  GDP ($)                                                      56350 non-null  float64
 12  Meat consumptionm in kg per year per capita                  51996 non-null  float64
 13  ObesityRate (BMI > 30)                                       45696 non-null  float64
 14  Healthcare spending (% of GDP)                               52556 non-null  float64
 15  air pollution, annual exposure (micrograms per cubic meter)  27300 non-null  float64
 16  Electoral democracy index                                    51744 non-null  float64
dtypes: float64(12), int32(1), int64(1), object(3)
memory usage: 8.8+ MB
None

In [9]:
print("\nDescriptive Statistics for Numerical Columns:")
print(merged_data.describe())

Descriptive Statistics for Numerical Columns:
               Year           Age  Remaining Life Expectancy  \
count  69678.000000  69678.000000               69678.000000
mean    2010.000000     34.285714                  42.456526
std        6.055344     27.701227                  23.711364
min     2000.000000      0.000000                   3.186500
25%     2005.000000     10.000000                  17.869150
50%     2010.000000     25.000000                  48.142650
75%     2015.000000     65.000000                  62.488700
max     2020.000000     80.000000                  88.727200

       Gov expenditure on education (%)  Internet usage (% of population)  \
count                      42168.000000                      57274.000000
mean                           4.461809                         33.971653
std                            1.874060                         30.020213
min                            0.127174                          0.000000
25%                            3.159014                          6.000000
50%                            4.267740                         25.820000
75%                            5.424485                         59.900000
max                           15.158183                        100.000000

       Access to electricity (% of population)  SanitationAccess  \
count                             62398.000000      40446.000000
mean                                 80.861847         54.107930
std                                  29.234232         30.657702
min                                   0.643132          0.000000
25%                                  68.459560         26.200000
50%                                  99.065384         51.980000
75%                                 100.000000         83.690000
max                                 100.000000        100.000000

       SmokingRateAdults       GDP ($)  \
count       16072.000000  5.635000e+04
mean           23.637801  1.016140e+12
std            11.135107  7.389988e+12
min             3.500000  3.278146e+07
25%            14.300000  1.370783e+10
50%            23.400000  5.455486e+10
75%            31.400000  3.102621e+11
max            68.500000  1.304445e+14

       Meat consumptionm in kg per year per capita  ObesityRate (BMI > 30)  \
count                                 51996.000000            45696.000000
mean                                     47.362803               16.175521
std                                      29.924635               10.775671
min                                       2.284959                0.600000
25%                                      19.826965                6.200000
50%                                      43.544542               16.450000
75%                                      71.699356               22.400000
max                                     139.219510               60.700000

       Healthcare spending (% of GDP)  \
count                    52556.000000
mean                         3.250742
std                          2.302534
min                          0.062046
25%                          1.534931
50%                          2.661538
75%                          4.496538
max                         24.113354

       air pollution, annual exposure (micrograms per cubic meter)  \
count                                       27300.000000
mean                                           28.033456
std                                            17.391612
min                                             5.861331
25%                                            15.232430
50%                                            23.542063
75%                                            35.141644
max                                           100.784430

       Electoral democracy index
count               51744.000000
mean                    0.522604
std                     0.261570
min                     0.015000
25%                     0.288000
50%                     0.524000
75%                     0.770000
max                     0.924000

In [10]:
print("\nMissing Values in Each Column:")
missing_values = merged_data.isnull().sum()
print(missing_values)

Missing Values in Each Column:
Entity                                                             0
Code                                                               0
Year                                                               0
Sex                                                                0
Age                                                                0
Remaining Life Expectancy                                          0
Gov expenditure on education (%)                               27510
Internet usage (% of population)                               12404
Access to electricity (% of population)                         7280
SanitationAccess                                               29232
SmokingRateAdults                                              53606
GDP ($)                                                        13328
Meat consumptionm in kg per year per capita                    17682
ObesityRate (BMI > 30)                                         23982
Healthcare spending (% of GDP)                                 17122
air pollution, annual exposure (micrograms per cubic meter)    42378
Electoral democracy index                                      17934
dtype: int64

In [11]:
print("\nPercentage of Missing Values in Each Column:")
missing_values_percent = (merged_data.isnull().sum() / 69678) * 100
print(missing_values_percent)

Percentage of Missing Values in Each Column:
Entity                                                          0.000000
Code                                                            0.000000
Year                                                            0.000000
Sex                                                             0.000000
Age                                                             0.000000
Remaining Life Expectancy                                       0.000000
Gov expenditure on education (%)                               39.481615
Internet usage (% of population)                               17.801889
Access to electricity (% of population)                        10.448061
SanitationAccess                                               41.952984
SmokingRateAdults                                              76.933896
GDP ($)                                                        19.127989
Meat consumptionm in kg per year per capita                    25.376733
ObesityRate (BMI > 30)                                         34.418324
Healthcare spending (% of GDP)                                 24.573036
air pollution, annual exposure (micrograms per cubic meter)    60.819771
Electoral democracy index                                      25.738397
dtype: float64

In [12]:
# Filter for numeric columns before calculating the correlation matrix
numeric_data = merged_data.select_dtypes(include=[np.number])
correlation_matrix = numeric_data.corr()

print("\nCorrelation Matrix:")
print(correlation_matrix)

Correlation Matrix:
                                                            Year  \
Year                                                1.000000e+00
Age                                                -1.238518e-13
Remaining Life Expectancy                           3.911469e-02
Gov expenditure on education (%)                    3.596767e-03
Internet usage (% of population)                    5.454042e-01
Access to electricity (% of population)             1.172784e-01
SanitationAccess                                    9.020032e-02
SmokingRateAdults                                  -3.072737e-01
GDP ($)                                             2.551573e-02
Meat consumptionm in kg per year per capita         4.985795e-02
ObesityRate (BMI > 30)                              1.900977e-01
Healthcare spending (% of GDP)                      8.256974e-02
air pollution, annual exposure (micrograms per ... -3.229558e-02
Electoral democracy index                           2.858578e-02

                                                             Age  \
Year                                               -1.238518e-13
Age                                                 1.000000e+00
Remaining Life Expectancy                          -9.655735e-01
Gov expenditure on education (%)                   -2.155871e-15
Internet usage (% of population)                   -4.063946e-16
Access to electricity (% of population)             4.139031e-15
SanitationAccess                                   -8.177641e-16
SmokingRateAdults                                   4.563924e-15
GDP ($)                                            -2.051464e-16
Meat consumptionm in kg per year per capita        -3.484425e-16
ObesityRate (BMI > 30)                              2.322572e-15
Healthcare spending (% of GDP)                      2.229766e-15
air pollution, annual exposure (micrograms per ... -4.642357e-16
Electoral democracy index                          -2.394973e-15

                                                    Remaining Life Expectancy  \
Year                                                                 0.039115
Age                                                                 -0.965573
Remaining Life Expectancy                                            1.000000
Gov expenditure on education (%)                                     0.021313
Internet usage (% of population)                                     0.158422
Access to electricity (% of population)                              0.163550
SanitationAccess                                                     0.157381
SmokingRateAdults                                                    0.028517
GDP ($)                                                              0.014002
Meat consumptionm in kg per year per capita                          0.149203
ObesityRate (BMI > 30)                                               0.087473
Healthcare spending (% of GDP)                                       0.104733
air pollution, annual exposure (micrograms per ...                  -0.072247
Electoral democracy index                                            0.102503

                                                    Gov expenditure on education (%)  \
Year                                                                    3.596767e-03
Age                                                                    -2.155871e-15
Remaining Life Expectancy                                               2.131345e-02
Gov expenditure on education (%)                                        1.000000e+00
Internet usage (% of population)                                        1.709159e-01
Access to electricity (% of population)                                 1.786866e-01
SanitationAccess                                                        2.371872e-01
SmokingRateAdults                                                       7.756293e-02
GDP ($)                                                                 4.125018e-03
Meat consumptionm in kg per year per capita                             2.391665e-01
ObesityRate (BMI > 30)                                                  3.650997e-01
Healthcare spending (% of GDP)                                          5.121765e-01
air pollution, annual exposure (micrograms per ...                     -3.055396e-01
Electoral democracy index                                               2.989915e-01

                                                    Internet usage (% of population)  \
Year                                                                    5.454042e-01
Age                                                                    -4.063946e-16
Remaining Life Expectancy                                               1.584223e-01
Gov expenditure on education (%)                                        1.709159e-01
Internet usage (% of population)                                        1.000000e+00
Access to electricity (% of population)                                 5.991012e-01
SanitationAccess                                                        7.116314e-01
SmokingRateAdults                                                      -2.435158e-02
GDP ($)                                                                 4.152575e-02
Meat consumptionm in kg per year per capita                             6.488559e-01
ObesityRate (BMI > 30)                                                  4.845423e-01
Healthcare spending (% of GDP)                                          5.424842e-01
air pollution, annual exposure (micrograms per ...                     -3.763043e-01
Electoral democracy index                                               4.527154e-01

                                                    Access to electricity (% of population)  \
Year                                                                           1.172784e-01
Age                                                                            4.139031e-15
Remaining Life Expectancy                                                      1.635500e-01
Gov expenditure on education (%)                                               1.786866e-01
Internet usage (% of population)                                               5.991012e-01
Access to electricity (% of population)                                        1.000000e+00
SanitationAccess                                                               6.670406e-01
SmokingRateAdults                                                              2.518953e-01
GDP ($)                                                                        4.710576e-02
Meat consumptionm in kg per year per capita                                    6.309542e-01
ObesityRate (BMI > 30)                                                         6.017178e-01
Healthcare spending (% of GDP)                                                 4.625699e-01
air pollution, annual exposure (micrograms per ...                            -3.109969e-01
Electoral democracy index                                                      3.319470e-01

                                                    SanitationAccess  \
Year                                                    9.020032e-02
Age                                                    -8.177641e-16
Remaining Life Expectancy                               1.573814e-01
Gov expenditure on education (%)                        2.371872e-01
Internet usage (% of population)                        7.116314e-01
Access to electricity (% of population)                 6.670406e-01
SanitationAccess                                        1.000000e+00
SmokingRateAdults                                       2.529748e-01
GDP ($)                                                 1.680594e-02
Meat consumptionm in kg per year per capita             7.290352e-01
ObesityRate (BMI > 30)                                  4.929488e-01
Healthcare spending (% of GDP)                          4.908636e-01
air pollution, annual exposure (micrograms per ...     -3.265052e-01
Electoral democracy index                               3.769207e-01

                                                    SmokingRateAdults  \
Year                                                    -3.072737e-01
Age                                                      4.563924e-15
Remaining Life Expectancy                                2.851666e-02
Gov expenditure on education (%)                         7.756293e-02
Internet usage (% of population)                        -2.435158e-02
Access to electricity (% of population)                  2.518953e-01
SanitationAccess                                         2.529748e-01
SmokingRateAdults                                        1.000000e+00
GDP ($)                                                  2.821406e-02
Meat consumptionm in kg per year per capita              1.843638e-01
ObesityRate (BMI > 30)                                   2.078108e-01
Healthcare spending (% of GDP)                           2.866823e-01
air pollution, annual exposure (micrograms per ...      -1.518754e-01
Electoral democracy index                                1.489555e-01

                                                         GDP ($)  \
Year                                                2.551573e-02
Age                                                -2.051464e-16
Remaining Life Expectancy                           1.400158e-02
Gov expenditure on education (%)                    4.125018e-03
Internet usage (% of population)                    4.152575e-02
Access to electricity (% of population)             4.710576e-02
SanitationAccess                                    1.680594e-02
SmokingRateAdults                                   2.821406e-02
GDP ($)                                             1.000000e+00
Meat consumptionm in kg per year per capita         3.547627e-02
ObesityRate (BMI > 30)                             -2.104099e-02
Healthcare spending (% of GDP)                      1.196408e-01
air pollution, annual exposure (micrograms per ...  8.724891e-02
Electoral democracy index                           1.728228e-02

                                                    Meat consumptionm in kg per year per capita  \
Year                                                                               4.985795e-02
Age                                                                               -3.484425e-16
Remaining Life Expectancy                                                          1.492028e-01
Gov expenditure on education (%)                                                   2.391665e-01
Internet usage (% of population)                                                   6.488559e-01
Access to electricity (% of population)                                            6.309542e-01
SanitationAccess                                                                   7.290352e-01
SmokingRateAdults                                                                  1.843638e-01
GDP ($)                                                                            3.547627e-02
Meat consumptionm in kg per year per capita                                        1.000000e+00
ObesityRate (BMI > 30)                                                             6.578920e-01
Healthcare spending (% of GDP)                                                     6.153518e-01
air pollution, annual exposure (micrograms per ...                                -4.986228e-01
Electoral democracy index                                                          5.510924e-01

                                                    ObesityRate (BMI > 30)  \
Year                                                          1.900977e-01
Age                                                           2.322572e-15
Remaining Life Expectancy                                     8.747305e-02
Gov expenditure on education (%)                              3.650997e-01
Internet usage (% of population)                              4.845423e-01
Access to electricity (% of population)                       6.017178e-01
SanitationAccess                                              4.929488e-01
SmokingRateAdults                                             2.078108e-01
GDP ($)                                                      -2.104099e-02
Meat consumptionm in kg per year per capita                   6.578920e-01
ObesityRate (BMI > 30)                                        1.000000e+00
Healthcare spending (% of GDP)                                5.919523e-01
air pollution, annual exposure (micrograms per ...           -3.324289e-01
Electoral democracy index                                     3.544082e-01

                                                    Healthcare spending (% of GDP)  \
Year                                                                  8.256974e-02
Age                                                                   2.229766e-15
Remaining Life Expectancy                                             1.047330e-01
Gov expenditure on education (%)                                      5.121765e-01
Internet usage (% of population)                                      5.424842e-01
Access to electricity (% of population)                               4.625699e-01
SanitationAccess                                                      4.908636e-01
SmokingRateAdults                                                     2.866823e-01
GDP ($)                                                               1.196408e-01
Meat consumptionm in kg per year per capita                           6.153518e-01
ObesityRate (BMI > 30)                                                5.919523e-01
Healthcare spending (% of GDP)                                        1.000000e+00
air pollution, annual exposure (micrograms per ...                   -5.125972e-01
Electoral democracy index                                             6.025536e-01

                                                    air pollution, annual exposure (micrograms per cubic meter)  \
Year                                                                                    -3.229558e-02
Age                                                                                     -4.642357e-16
Remaining Life Expectancy                                                               -7.224715e-02
Gov expenditure on education (%)                                                        -3.055396e-01
Internet usage (% of population)                                                        -3.763043e-01
Access to electricity (% of population)                                                 -3.109969e-01
SanitationAccess                                                                        -3.265052e-01
SmokingRateAdults                                                                       -1.518754e-01
GDP ($)                                                                                  8.724891e-02
Meat consumptionm in kg per year per capita                                             -4.986228e-01
ObesityRate (BMI > 30)                                                                  -3.324289e-01
Healthcare spending (% of GDP)                                                          -5.125972e-01
air pollution, annual exposure (micrograms per ...                                       1.000000e+00
Electoral democracy index                                                               -5.458672e-01

                                                    Electoral democracy index
Year                                                             2.858578e-02
Age                                                             -2.394973e-15
Remaining Life Expectancy                                        1.025030e-01
Gov expenditure on education (%)                                 2.989915e-01
Internet usage (% of population)                                 4.527154e-01
Access to electricity (% of population)                          3.319470e-01
SanitationAccess                                                 3.769207e-01
SmokingRateAdults                                                1.489555e-01
GDP ($)                                                          1.728228e-02
Meat consumptionm in kg per year per capita                      5.510924e-01
ObesityRate (BMI > 30)                                           3.544082e-01
Healthcare spending (% of GDP)                                   6.025536e-01
air pollution, annual exposure (micrograms per ...              -5.458672e-01
Electoral democracy index                                        1.000000e+00

## Data cleansing (NaN handling)

##### Gov expenditure on education (%) , Final DF: full_data_education_spendings_2000_2020

In [13]:
# Drop rows where 'Code' is NaN
education_expenditure_data = education_expenditure_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = education_expenditure_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = education_expenditure_data['Entity'].unique()
full_years_range = range(education_expenditure_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, education_expenditure_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)


# Filter the data to keep only the years from 2000 to 2020
full_data_education_spendings_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_education_spendings_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_education_spendings_2000_2020.update(group)


# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")

# Display a sample of the final interpolated data
full_data_education_spendings_2000_2020.sample(10)

United Arab Emirates: 19 NaNs filled with median
Cayman Islands: 18 NaNs filled with median
Suriname: 15 NaNs filled with median
Curacao: 12 NaNs filled with median
Turkmenistan: 12 NaNs filled with median
South Sudan: 11 NaNs filled with median
Uzbekistan: 11 NaNs filled with median
Palestine: 10 NaNs filled with median
East Timor: 8 NaNs filled with median
Liberia: 8 NaNs filled with median
Vietnam: 8 NaNs filled with median
Nauru: 7 NaNs filled with median
Serbia: 7 NaNs filled with median
American Samoa: 6 NaNs filled with median
Bahrain: 6 NaNs filled with median
Grenada: 3 NaNs filled with median
Liechtenstein: 3 NaNs filled with median
Bolivia: 2 NaNs filled with median
San Marino: 2 NaNs filled with median
Sao Tome and Principe: 2 NaNs filled with median
World: 1 NaNs filled with median
Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Andorra: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Antigua and Barbuda: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Aruba: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bermuda: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
British Virgin Islands: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominica: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Equatorial Guinea: 0 NaNs filled with median
Eritrea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Macao: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Marshall Islands: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Micronesia (country): 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Monaco: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palau: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Papua New Guinea: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Puerto Rico: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Saint Kitts and Nevis: 0 NaNs filled with median
Saint Lucia: 0 NaNs filled with median
Saint Vincent and the Grenadines: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
Somalia: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sudan: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Syria: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turks and Caicos Islands: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

                Entity  Year Code  Gov expenditure on education (%)
20230  North Macedonia  2017  MKD                          3.300150
15985        Lithuania  2000  LTU                          5.602386
24139           Serbia  2000  SRB                          3.986287
22793           Rwanda  2013  RWA                          4.742140
22036         Portugal  2011  PRT                          5.123330
15087           Latvia  2008  LVA                          5.366450
1489             Aruba  2000  ABW                          4.715360
17501       Mauritania  2006  MRT                          1.958510
13725          Jamaica  2005  JAM                          4.616420
29881          Vietnam  2004  VNM                          3.540123

In [14]:
print("\nMissing Values in Gov expenditure on education:")
missing_values = full_data_education_spendings_2000_2020.isnull().sum()
print(missing_values)

Missing Values in Gov expenditure on education:
Entity                              0
Year                                0
Code                                0
Gov expenditure on education (%)    0
dtype: int64

##### Internet usage (% of population), Final DF: full_data_internet_usage_2000_2020

In [15]:
# Drop rows where 'Code' is NaN
internet_usage_data = internet_usage_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = internet_usage_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = internet_usage_data['Entity'].unique()
full_years_range = range(internet_usage_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, internet_usage_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)

# Filter the data to keep only the years from 2000 to 2020
full_data_internet_usage_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_internet_usage_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_internet_usage_2000_2020.update(group)

# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")

# Display a sample of the final interpolated data
full_data_internet_usage_2000_2020.sample(10)

Kosovo: 17 NaNs filled with median
Curacao: 16 NaNs filled with median
South Sudan: 13 NaNs filled with median
Montenegro: 4 NaNs filled with median
Serbia: 4 NaNs filled with median
Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
American Samoa: 0 NaNs filled with median
Andorra: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Antigua and Barbuda: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Aruba: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bermuda: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
British Virgin Islands: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Cayman Islands: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominica: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Equatorial Guinea: 0 NaNs filled with median
Eritrea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
French Polynesia: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Gibraltar: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Greenland: 0 NaNs filled with median
Grenada: 0 NaNs filled with median
Guam: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Liberia: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Liechtenstein: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Macao: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Marshall Islands: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Micronesia (country): 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Monaco: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nauru: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Caledonia: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Korea: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Northern Mariana Islands: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palau: 0 NaNs filled with median
Palestine: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Papua New Guinea: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Puerto Rico: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Saint Kitts and Nevis: 0 NaNs filled with median
Saint Lucia: 0 NaNs filled with median
Saint Vincent and the Grenadines: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
San Marino: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
Somalia: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sudan: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Syria: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
Turks and Caicos Islands: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
United States Virgin Islands: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

             Entity  Year Code  Internet usage (% of population)
4400    North Korea  2019  PRK                          0.000000
1639        Denmark  2017  DNK                         97.099365
6024         Turkey  2000  TUR                          3.761685
4231  New Caledonia  2005  NCL                         32.359016
2182         Gambia  2002  GMB                          1.796780
17      Afghanistan  2007  AFG                          1.900000
6274  United States  2002  USA                         58.785404
1423  Cote d'Ivoire  2018  CIV                         37.546535
2615       Honduras  2001  HND                          1.415282
327       Australia  2007  AUS                         69.450000

In [16]:
print("\nMissing Values in Gov expenditure on education:")
missing_values = full_data_internet_usage_2000_2020.isnull().sum()
print(missing_values)

Missing Values in Gov expenditure on education:
Entity                              0
Year                                0
Code                                0
Internet usage (% of population)    0
dtype: int64

##### Access to electricity (% of population), Final DF: full_data_electricity_access_2000_2020

In [17]:
# Drop rows where 'Code' is NaN
electricity_access_data = electricity_access_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = electricity_access_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = electricity_access_data['Entity'].unique()
full_years_range = range(electricity_access_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, electricity_access_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)

# Filter the data to keep only the years from 2000 to 2020
full_data_electricity_access_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_electricity_access_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_electricity_access_2000_2020.update(group)

# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")

# Display a sample of the final interpolated data
full_data_electricity_access_2000_2020.sample(10)

North Korea: 9 NaNs filled with median
Liberia: 7 NaNs filled with median
South Sudan: 6 NaNs filled with median
Guinea-Bissau: 2 NaNs filled with median
Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Andorra: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Antigua and Barbuda: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Aruba: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bermuda: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
British Virgin Islands: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Cayman Islands: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Channel Islands: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Curacao: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominica: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Equatorial Guinea: 0 NaNs filled with median
Eritrea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
French Polynesia: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Gibraltar: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Greenland: 0 NaNs filled with median
Grenada: 0 NaNs filled with median
Guam: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Isle of Man: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kosovo: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Liechtenstein: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Macao: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Marshall Islands: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Micronesia (country): 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Monaco: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Montenegro: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nauru: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Caledonia: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Northern Mariana Islands: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palau: 0 NaNs filled with median
Palestine: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Puerto Rico: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Saint Kitts and Nevis: 0 NaNs filled with median
Saint Lucia: 0 NaNs filled with median
Saint Martin (French part): 0 NaNs filled with median
Saint Vincent and the Grenadines: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
San Marino: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Sint Maarten (Dutch part): 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
Somalia: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sudan: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Syria: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
Turks and Caicos Islands: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
United States Virgin Islands: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

,Entity,Year,Code,Access to electricity (% of population)
2749,India,2011,IND,67.600000
1332,Comoros,2020,COM,86.737140
5730,Sudan,2016,SDN,48.849403
3718,Mali,2019,MLI,47.836277
2803,Iran,2003,IRN,98.332020
4102,Myanmar,2000,MMR,41.833790
5565,South Africa,2006,ZAF,80.700000
6368,United States Virgin Islands,2003,VIR,100.000000
5635,South Sudan,2014,SSD,4.097184
6555,World,2004,OWID_WRL,80.079250

In [18]:
print("\nMissing Values in Gov expenditure on education:")
missing_values = full_data_electricity_access_2000_2020.isnull().sum()
print(missing_values)

Missing Values in Gov expenditure on education:
Entity                                     0
Year                                       0
Code                                       0
Access to electricity (% of population)    0
dtype: int64

##### SanitationAccess Final DF: full_data_sanitation_2000_2020

In [19]:
# Drop rows where 'Code' is NaN
sanitation_data = sanitation_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = sanitation_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = sanitation_data['Entity'].unique()
full_years_range = range(sanitation_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, sanitation_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)

# Filter the data to keep only the years from 2000 to 2020
full_data_sanitation_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_sanitation_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_sanitation_2000_2020.update(group)

# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")
    
full_data_sanitation_2000_2020.rename(columns={'SanitationAccess': 'Access to Sanitation (% of population)'}, inplace=True)

# Display a sample of the final interpolated data
full_data_sanitation_2000_2020.sample(10)

Turks and Caicos Islands: 16 NaNs filled with median
Greenland: 14 NaNs filled with median
Channel Islands: 9 NaNs filled with median
Montenegro: 6 NaNs filled with median
Guinea-Bissau: 4 NaNs filled with median
Cambodia: 1 NaNs filled with median
French Guiana: 1 NaNs filled with median
Reunion: 1 NaNs filled with median
Romania: 1 NaNs filled with median
Algeria: 0 NaNs filled with median
American Samoa: 0 NaNs filled with median
Andorra: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
India: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Isle of Man: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Liechtenstein: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Macao: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Monaco: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Palestine: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Puerto Rico: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
San Marino: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Somalia: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

           Entity  Year Code  Access to Sanitation (% of population)
982       Germany  2016  DEU                                   96.75
784         Egypt  2007  EGY                                   56.97
1246       Israel  2007  ISR                                   85.19
2044  Philippines  2007  PHL                                   48.49
67      Argentina  2004  ARG                                   45.08
1175        India  2020  IND                                   47.90
2728       Tuvalu  2019  TUV                                   38.66
2360    Singapore  2008  SGP                                  100.00
2299      Senegal  2010  SEN                                   19.63
818       Estonia  2020  EST                                   90.42

In [20]:
print("\nMissing Values in Access to Sanitation % of population")
missing_values = full_data_sanitation_2000_2020.isnull().sum()
print(missing_values)

Missing Values in Access to Sanitation % of population
Entity                                    0
Year                                      0
Code                                      0
Access to Sanitation (% of population)    0
dtype: int64

##### SmokingRateAdults (Haris)

In [21]:
# Drop rows where 'Code' is NaN
smoking_data = smoking_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = smoking_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = smoking_data['Entity'].unique()
full_years_range = range(smoking_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, smoking_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)

# Filter the data to keep only the years from 2000 to 2020
full_data_smoking_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_smoking_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_smoking_2000_2020.update(group)

# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")
    
full_data_smoking_2000_2020.rename(columns={'SmokingRateAdults': 'Smoking Adults (% of population)'}, inplace=True)

# Display a sample of the final interpolated data
full_data_smoking_2000_2020.sample(50)

Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Andorra: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Eritrea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Liberia: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Marshall Islands: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Montenegro: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nauru: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Korea: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palau: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Papua New Guinea: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

,Entity,Year,Code,Smoking Adults (% of population)
2995,Sweden,2013,SWE,29.660000
2108,Montenegro,2008,MNE,35.620000
3134,Turkey,2005,TUR,32.200000
3208,Uganda,2016,UGA,10.233333
2009,Mauritania,2014,MRT,13.100000
2775,Seychelles,2003,SYC,27.200000
1248,Greece,2009,GRC,44.020000
158,Austria,2011,AUT,35.920000
2301,Niger,2012,NER,8.200000
455,Brunei,2014,BRN,16.320000
1965,Malta,2012,MLT,27.680000
2747,Senegal,2017,SEN,7.500000
1682,Kyrgyzstan,2002,KGZ,30.960000
3075,Togo,2009,TGO,10.220000
2102,Montenegro,2002,MNE,37.900000
3330,Vanuatu,2012,VUT,20.540000
878,Democratic Republic of Congo,2017,COD,13.333333
657,China,2006,CHN,26.520000
2575,Portugal,2013,PRT,25.240000
3437,Zimbabwe,2014,ZWE,14.000000
468,Bulgaria,2006,BGR,44.580000
3026,Tanzania,2002,TZA,24.960000
613,Chad,2004,TCD,12.540000
3035,Tanzania,2011,TZA,14.720000
107,Armenia,2002,ARM,31.320000
2204,Namibia,2020,NAM,15.100000
1070,Eswatini,2020,SWZ,9.200000
1050,Eswatini,2000,SWZ,12.300000
1228,Ghana,2010,GHA,4.900000
1943,Mali,2011,MLI,11.260000
192,Bahamas,2003,BHS,10.700000
2118,Montenegro,2018,MNE,31.800000
2681,Samoa,2014,WSM,28.760000
1353,Hungary,2009,HUN,34.860000
3377,World,2017,OWID_WRL,24.026754
2449,Panama,2013,PAN,7.120000
1835,Luxembourg,2008,LUX,26.640000
2023,Mauritius,2007,MUS,23.540000
2278,New Zealand,2010,NZL,20.100000
776,Cote d'Ivoire,2020,CIV,9.400000
45,Algeria,2003,DZA,21.960000
937,East Timor,2013,TLS,43.900000
233,Bangladesh,2002,BGD,54.680000
3347,Vietnam,2008,VNM,27.520000
3087,Tonga,2000,TON,33.500000
2526,Philippines,2006,PHL,30.940000
2188,Namibia,2004,NAM,22.960000
2786,Seychelles,2014,SYC,22.480000
658,China,2007,CHN,26.440000
1710,Laos,2009,LAO,41.640000

In [22]:
print("\nMissing Values in Access to Smoking Adults (% of population)")
missing_values = full_data_smoking_2000_2020.isnull().sum()
print(missing_values)

Missing Values in Access to Smoking Adults (% of population)
Entity                              0
Year                                0
Code                                0
Smoking Adults (% of population)    0
dtype: int64

##### GDP ($) (Haris)

In [23]:
# Drop rows where 'Code' is NaN
gdp_data = gdp_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = gdp_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = gdp_data['Entity'].unique()
full_years_range = range(gdp_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, gdp_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)

# Filter the data to keep only the years from 2000 to 2020
full_data_gdp_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_gdp_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_gdp_2000_2020.update(group)

# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")
    

# Display a sample of the final interpolated data
full_data_gdp_2000_2020.sample(50)

Djibouti: 13 NaNs filled with median
Somalia: 13 NaNs filled with median
Turks and Caicos Islands: 11 NaNs filled with median
Sint Maarten (Dutch part): 9 NaNs filled with median
Kosovo: 8 NaNs filled with median
Cayman Islands: 6 NaNs filled with median
Nauru: 4 NaNs filled with median
Afghanistan: 2 NaNs filled with median
Sao Tome and Principe: 1 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Antigua and Barbuda: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Aruba: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bermuda: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Curacao: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Dominica: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Equatorial Guinea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Grenada: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Liberia: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Macao: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Marshall Islands: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Micronesia (country): 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Montenegro: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palau: 0 NaNs filled with median
Palestine: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Papua New Guinea: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Puerto Rico: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Saint Kitts and Nevis: 0 NaNs filled with median
Saint Lucia: 0 NaNs filled with median
Saint Vincent and the Grenadines: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
San Marino: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sudan: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

                         Entity  Year Code       GDP ($)
3277                     Malawi  2012  MWI  2.135103e+10
2777                 Kazakhstan  2008  KAZ  3.119135e+11
2417                    Hungary  2020  HUN  3.045127e+11
1513                    Denmark  2015  DNK  3.006144e+11
299                     Austria  2010  AUT  4.335875e+11
6026                   Zimbabwe  2002  ZWE  3.008420e+10
1188                   Colombia  2000  COL  3.583604e+11
1313              Cote d'Ivoire  2001  CIV  6.662212e+10
2436                    Iceland  2008  ISL  1.682276e+10
477                     Belarus  2002  BLR  8.841150e+10
1723                El Salvador  2008  SLV  4.533326e+10
2430                    Iceland  2002  ISL  1.221528e+10
1176                      China  2019  CHN  2.249262e+13
4856                 Seychelles  2010  SYC  1.914124e+09
3427           Marshall Islands  2007  MHL  1.993859e+08
5202                  Sri Lanka  2015  LKA  2.604590e+11
1328              Cote d'Ivoire  2016  CIV  1.099588e+11
2164                    Grenada  2015  GRD  1.659589e+09
1887                       Fiji  2017  FJI  1.178367e+10
4208                     Panama  2013  PAN  1.015650e+11
2105                      Ghana  2018  GHA  1.582197e+11
667                     Bolivia  2006  BOL  5.562773e+10
4293                       Peru  2005  PER  2.095263e+11
4239           Papua New Guinea  2013  PNG  2.735747e+10
300                     Austria  2011  AUT  4.462604e+11
3780                    Namibia  2019  NAM  2.448987e+10
947                    Cameroon  2007  CMR  6.040058e+10
732                    Botswana  2009  BWA  2.403384e+10
1625                 East Timor  2003  TLS  2.158946e+09
3246                 Madagascar  2012  MDG  3.438068e+10
2780                 Kazakhstan  2011  KAZ  3.637631e+11
3655                 Montenegro  2018  MNE  1.287406e+10
3483                  Mauritius  2001  MUS  1.503117e+10
2001                     Gambia  2007  GMB  3.505756e+09
1537                   Djibouti  2008  DJI  4.510953e+09
4071                       Oman  2000  OMN  8.765688e+10
3737                    Myanmar  2007  MMR  1.035596e+11
1883                       Fiji  2013  FJI  9.893253e+09
2532                       Iran  2011  IRN  1.168216e+12
1997                     Gambia  2003  GMB  3.272884e+09
3744                    Myanmar  2014  MMR  1.868533e+11
5252                   Suriname  2003  SUR  7.007835e+09
2627                     Israel  2013  ISR  2.936590e+11
104                      Angola  2001  AGO  8.043574e+10
4959  Sint Maarten (Dutch part)  2020  SXM  1.436798e+09
2374                  Hong Kong  2008  HKG  3.464124e+11
5195                  Sri Lanka  2008  LKA  1.710362e+11
492                     Belarus  2017  BLR  1.736302e+11
4512                     Russia  2007  RUS  3.376950e+12
2321                      Haiti  2017  HTI  3.463069e+10

In [24]:
print("\nMissing Values in GDP ($)")
missing_values = full_data_gdp_2000_2020.isnull().sum()
print(missing_values)

Missing Values in GDP ($)
Entity     0
Year       0
Code       0
GDP ($)    0
dtype: int64

##### Meat consumption in kg per year per capita (Haris)

In [25]:
# Drop rows where 'Code' is NaN
meat_supply_data = meat_supply_data.dropna(subset=['Code'])

# Create a mapping of Entity to Code
entity_code_map = meat_supply_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Get unique countries and the full range of years in the dataset
unique_countries = meat_supply_data['Entity'].unique()
full_years_range = range(meat_supply_data['Year'].min(), 2021)

# Creating a DataFrame with all combinations of countries and full range of years
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Using the mapping to fill in the 'Code' column for the new rows
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Merging this with the existing data
merged_data_with_complete_years = pd.merge(complete_data_frame, meat_supply_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Applying linear interpolation for each country
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Reset index to make the DataFrame flat
interpolated_data = interpolated_data.reset_index(drop=True)

# Filter the data to keep only the years from 2000 to 2020
full_data_meat_supply_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Filling remaining NaN values with median for each country and counting NaNs filled
nan_filled_count = {}
for entity, group in full_data_meat_supply_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_meat_supply_2000_2020.update(group)

# Sort the dictionary by the count of NaNs filled, in descending order
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Print the count of NaNs filled for each country
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")
    

# Display a sample of the final interpolated data
full_data_meat_supply_2000_2020.sample(50)

Bahrain: 19 NaNs filled with median
Bhutan: 19 NaNs filled with median
Micronesia (country): 19 NaNs filled with median
Nauru: 19 NaNs filled with median
Qatar: 19 NaNs filled with median
South Sudan: 19 NaNs filled with median
Burundi: 14 NaNs filled with median
Sudan: 12 NaNs filled with median
Comoros: 10 NaNs filled with median
Democratic Republic of Congo: 10 NaNs filled with median
Libya: 10 NaNs filled with median
Papua New Guinea: 10 NaNs filled with median
Seychelles: 10 NaNs filled with median
Syria: 10 NaNs filled with median
Montenegro: 6 NaNs filled with median
Serbia: 6 NaNs filled with median
Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Antigua and Barbuda: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bermuda: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Czechoslovakia: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominica: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Ethiopia (former): 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
French Polynesia: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Grenada: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Liberia: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Macao: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
Netherlands Antilles: 0 NaNs filled with median
New Caledonia: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Korea: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Saint Kitts and Nevis: 0 NaNs filled with median
Saint Lucia: 0 NaNs filled with median
Saint Vincent and the Grenadines: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia and Montenegro: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Taiwan: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
USSR: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Yugoslavia: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

,Entity,Year,Code,Meat consumptionm in kg per year per capita
10663,Turkmenistan,2004,TKM,43.775578
4434,Guyana,2015,GUY,49.692074
3583,Fiji,2004,FJI,42.060380
11097,Uruguay,2018,URY,53.651543
582,Azerbaijan,2003,AZE,17.190361
9832,Sri Lanka,2013,LKA,7.812759
11087,Uruguay,2008,URY,75.590470
8091,Panama,2012,PAN,65.349510
3523,Ethiopia (former),2004,OWID_ERE,11.218240
406,Armenia,2007,ARM,36.782875
6946,Montenegro,2007,MNE,60.163784
10011,Sweden,2012,SWE,77.851780
4666,Hungary,2007,HUN,83.434430
10310,Tanzania,2011,TZA,9.318607
10543,Tunisia,2004,TUN,25.234200
1374,Botswana,2015,BWA,24.971592
8876,Saint Vincent and the Grenadines,2017,VCT,97.300316
10258,Tajikistan,2019,TJK,32.913544
6226,Madagascar,2007,MDG,14.223252
9708,South Sudan,2009,SSD,25.026156
2332,Congo,2013,COG,26.073402
5209,Jamaica,2010,JAM,61.885895
7139,Myanmar,2020,MMR,62.116344
6778,Micronesia (country),2019,FSM,58.686855
9230,Serbia and Montenegro,2011,OWID_SRM,101.371820
1193,Bhutan,2014,BTN,15.810961
2637,Cyprus,2018,CYP,75.105480
11626,Zimbabwe,2007,ZWE,19.134714
9059,Saudi Arabia,2020,SAU,53.230816
5331,Jordan,2012,JOR,43.961864
2200,Colombia,2001,COL,36.274956
5559,Kuwait,2000,KWT,77.750690
3699,France,2000,FRA,101.034260
10499,Trinidad and Tobago,2020,TTO,69.995610
3233,Egypt,2014,EGY,26.268870
6221,Madagascar,2002,MDG,12.484953
5870,Lesotho,2011,LSO,22.314890
2696,Czechia,2017,CZE,81.267690
6179,Macao,2020,MAC,99.539215
6643,Mauritius,2004,MUS,42.243855
9836,Sri Lanka,2017,LKA,10.128403
10844,Ukraine,2005,UKR,38.100563
2624,Cyprus,2005,CYP,83.769940
10679,Turkmenistan,2020,TKM,47.686530
9177,Serbia,2018,SRB,66.598380
9710,South Sudan,2011,SSD,25.026156
6947,Montenegro,2008,MNE,68.793570
5859,Lesotho,2000,LSO,15.926093
43,Afghanistan,2004,AFG,13.960530
5215,Jamaica,2016,JAM,61.444183

In [26]:
print("\nMissing Values in Meat consumption in kg per year per capita")
missing_values = full_data_meat_supply_2000_2020.isnull().sum()
print(missing_values)

Missing Values in Meat consumption in kg per year per capita
Entity                                         0
Year                                           0
Code                                           0
Meat consumptionm in kg per year per capita    0
dtype: int64

##### ObesityRate (BMI > 30) (Edi)

In [27]:
# Schritt 1: Entfernen von Zeilen, bei denen 'Code' NaN ist
obesity_data = obesity_data.dropna(subset=['Code'])

# Schritt 2: Erstellen einer Zuordnung von Entity zu Code
entity_code_map = obesity_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Schritt 3: Einzigartige Lnder und den vollen Bereich der Jahre im Datensatz erhalten
unique_countries = obesity_data['Entity'].unique()
full_years_range = range(obesity_data['Year'].min(), 2021)

# Schritt 4: Erstellen eines DataFrames mit allen Kombinationen von Lndern und dem vollen Bereich der Jahre
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Schritt 5: Verwenden der Zuordnung, um die 'Code'-Spalte fr die neuen Zeilen zu fllen
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Schritt 6: Zusammenfhren mit den vorhandenen Daten
merged_data_with_complete_years = pd.merge(complete_data_frame, obesity_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Schritt 7: Lineare Interpolation fr jedes Land anwenden
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Schritt 8: Index zurcksetzen, um das DataFrame flach zu machen
interpolated_data = interpolated_data.reset_index(drop=True)

# Schritt 9: Filtern der Daten, um nur die Jahre von 2000 bis 2020 zu behalten
full_data_obesity_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Schritt 10: Fllen verbleibender NaN-Werte mit dem Median fr jedes Land und Zhlen von gefllten NaNs
nan_filled_count = {}
for entity, group in full_data_obesity_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_obesity_2000_2020.update(group)

# Schritt 11: Sortieren des Wrterbuchs nach der Anzahl der gefllten NaNs in absteigender Reihenfolge
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Ausgabe der Anzahl von gefllten NaNs fr jedes Land
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")
    
# Schritt 12: Anzeigen einer Stichprobe der endgltigen interpolierten Daten
full_data_obesity_2000_2020.sample(50)

Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Andorra: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Antigua and Barbuda: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Bahamas: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Belize: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
Brunei: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Cook Islands: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominica: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Equatorial Guinea: 0 NaNs filled with median
Eritrea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Grenada: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kiribati: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Liberia: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Marshall Islands: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Micronesia (country): 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Montenegro: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nauru: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
Niue: 0 NaNs filled with median
North Korea: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palau: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Papua New Guinea: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Saint Kitts and Nevis: 0 NaNs filled with median
Saint Lucia: 0 NaNs filled with median
Saint Vincent and the Grenadines: 0 NaNs filled with median
Samoa: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
Somalia: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sudan: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Syria: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Tonga: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
Tuvalu: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

                                Entity  Year      Code  ObesityRate (BMI > 30)
8088                            Turkey  2013       TUR                    29.8
2160      Democratic Republic of Congo  2019       COD                     5.6
1738                           Comoros  2011       COM                     5.5
6847             Sao Tome and Principe  2014       STP                     9.7
7037                        Seychelles  2020       SYC                    14.6
5644                       New Zealand  2007       NZL                    26.5
84                             Albania  2013       ALB                    20.5
6753  Saint Vincent and the Grenadines  2012       VCT                    20.8
5463                           Namibia  2010       NAM                    12.0
866                              Benin  2013       BEN                     7.3
4813                          Maldives  2004       MDV                     3.3
7262                   Solomon Islands  2015       SLB                    19.8
6247                          Paraguay  2012       PRY                    16.7
3582                           Iceland  2015       ISL                    22.7
5733                             Niger  2004       NER                     2.7
1961                           Croatia  2004       HRV                    20.9
8507                        Uzbekistan  2018       UZB                    15.3
1176                          Bulgaria  2001       BGR                    20.3
3440                             Haiti  2011       HTI                    16.4
5687                         Nicaragua  2004       NIC                    15.1
5230                          Mongolia  2007       MNG                    12.9
7588                          Suriname  2019       SUR                    26.5
1464                        Cape Verde  2013       CPV                     9.3
1285                           Burundi  2018       BDI                     4.4
5318                           Morocco  2003       MAR                    16.4
7297                           Somalia  2004       SOM                     4.2
2836                           Finland  2005       FIN                    20.4
5736                             Niger  2007       NER                     3.1
7076                      Sierra Leone  2013       SLE                     6.6
8722                             Yemen  2003       YEM                     8.3
2666                           Estonia  2019       EST                    23.8
1916                     Cote d'Ivoire  2005       CIV                     5.5
7858                          Thailand  2013       THA                     9.0
6526                           Romania  2015       ROU                    23.9
5238                          Mongolia  2015       MNG                    18.8
1831                      Cook Islands  2012       COK                    53.0
8002               Trinidad and Tobago  2019       TTO                    19.7
5466                           Namibia  2013       NAM                    13.4
7948                             Tonga  2011       TON                    42.6
7708                             Syria  2001       SYR                    15.7
5591                       Netherlands  2000       NLD                    14.2
2143      Democratic Republic of Congo  2002       COD                     2.9
442                            Austria  2003       AUT                    16.2
6894                      Saudi Arabia  2015       SAU                    34.1
8692                             World  2019  OWID_WRL                    13.2
4167                          Kiribati  2002       KIR                    35.4
6565                            Russia  2008       RUS                    22.5
6835             Sao Tome and Principe  2002       STP                     5.5
8137                      Turkmenistan  2016       TKM                    17.5
7339                      South Africa  2000       ZAF                    18.1

##### Healthcare spending (% of GDP) (Edi)

In [28]:
# Schritt 1: Entfernen von Zeilen, bei denen 'Code' NaN ist
healthcare_spending_data = healthcare_spending_data.dropna(subset=['Code'])

# Schritt 2: Erstellen einer Zuordnung von Entity zu Code
entity_code_map = healthcare_spending_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Schritt 3: Einzigartige Lnder und den vollen Bereich der Jahre im Datensatz erhalten
unique_countries = healthcare_spending_data['Entity'].unique()
full_years_range = range(healthcare_spending_data['Year'].min(), 2021)

# Schritt 4: Erstellen eines DataFrames mit allen Kombinationen von Lndern und dem vollen Bereich der Jahre
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Schritt 5: Verwenden der Zuordnung, um die 'Code'-Spalte fr die neuen Zeilen zu fllen
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Schritt 6: Zusammenfhren mit den vorhandenen Daten
merged_data_with_complete_years = pd.merge(complete_data_frame, healthcare_spending_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Schritt 7: Lineare Interpolation fr jedes Land anwenden
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Schritt 8: Index zurcksetzen, um das DataFrame flach zu machen
interpolated_data = interpolated_data.reset_index(drop=True)

# Schritt 9: Filtern der Daten, um nur die Jahre von 2000 bis 2020 zu behalten
full_data_public_healthcare_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Schritt 10: Fllen verbleibender NaN-Werte mit dem Median fr jedes Land und Zhlen von gefllten NaNs
nan_filled_count = {}
for entity, group in full_data_public_healthcare_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_public_healthcare_2000_2020.update(group)

# Schritt 11: Sortieren des Wrterbuchs nach der Anzahl der gefllten NaNs in absteigender Reihenfolge
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Schritt 12: Anzeigen einer Stichprobe der endgltigen interpolierten Daten
full_data_public_healthcare_2000_2020.sample(50)

,Entity,Year,Code,Healthcare spending (% of GDP)
2432,Morocco,2017,MAR,2.251000
3344,South Sudan,2005,SSD,0.840192
2857,Poland,2001,POL,3.986447
2129,Malawi,2008,MWI,1.925408
2503,Nauru,2004,NRU,4.672427
3689,Turkmenistan,2014,TKM,1.482286
432,Bolivia,2012,BOL,2.996354
2826,Peru,2012,PER,2.488223
809,Congo,2011,COG,0.651339
155,Armenia,2008,ARM,1.488133
2765,Panama,2014,PAN,4.316287
104,Angola,2020,AGO,1.044347
949,Democratic Republic of Congo,2004,COD,0.186194
712,Chad,2019,TCD,0.753807
2305,Mexico,2016,MEX,2.847798
2504,Nauru,2005,NRU,9.261903
1045,Dominican Republic,2016,DOM,2.664668
3675,Turkmenistan,2000,TKM,3.214628
289,Bangladesh,2016,BGD,0.406107
778,Comoros,2001,COM,0.527282
2076,Lithuania,2018,LTU,4.311813
1325,Gambia,2002,GMB,0.526953
3478,Switzerland,2013,CHE,3.430323
2599,Nicaragua,2016,NIC,4.651224
1336,Gambia,2013,GMB,1.083765
1764,Jamaica,2000,JAM,3.187381
3044,Saint Vincent and the Grenadines,2020,VCT,3.151723
3059,Samoa,2014,WSM,4.657566
723,Chile,2009,CHL,3.378314
1378,Germany,2013,DEU,8.405677
804,Congo,2006,COG,0.554922
3777,United Arab Emirates,2018,ARE,2.138163
3810,United States,2009,USA,7.875232
2395,Montenegro,2001,MNE,5.018076
1369,Germany,2004,DEU,7.700440
777,Comoros,2000,COM,0.891221
2744,Palau,2014,PLW,4.428483
121,Antigua and Barbuda,2016,ATG,2.860578
965,Democratic Republic of Congo,2020,COD,0.559367
3505,Syria,2019,SYR,1.614762
3925,Vietnam,2019,VNM,2.299249
960,Democratic Republic of Congo,2015,COD,0.662007
2033,Liberia,2017,LBR,1.381633
279,Bangladesh,2006,BGD,0.573585
1577,Hungary,2002,HUN,4.930601
2849,Philippines,2014,PHL,1.263271
3369,Spain,2009,ESP,6.836741
1039,Dominican Republic,2010,DOM,2.516387
2363,Monaco,2011,MCO,1.768180
3829,Uruguay,2007,URY,3.636779

##### Air pollution, annual exposure (micrograms per cubic meter) (Edi)

In [29]:
# Schritt 1: Entfernen von Zeilen, bei denen 'Code' NaN ist
air_pollution_data = air_pollution_data.dropna(subset=['Code'])

# Schritt 2: Erstellen einer Zuordnung von Entity zu Code
entity_code_map = air_pollution_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Schritt 3: Einzigartige Lnder und den vollen Bereich der Jahre im Datensatz erhalten
unique_countries = air_pollution_data['Entity'].unique()
full_years_range = range(air_pollution_data['Year'].min(), 2021)

# Schritt 4: Erstellen eines DataFrames mit allen Kombinationen von Lndern und dem vollen Bereich der Jahre
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Schritt 5: Verwenden der Zuordnung, um die 'Code'-Spalte fr die neuen Zeilen zu fllen
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Schritt 6: Zusammenfhren mit den vorhandenen Daten
merged_data_with_complete_years = pd.merge(complete_data_frame, air_pollution_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Schritt 7: Lineare Interpolation fr jedes Land anwenden
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Schritt 8: Index zurcksetzen, um das DataFrame flach zu machen
interpolated_data = interpolated_data.reset_index(drop=True)

# Schritt 9: Filtern der Daten, um nur die Jahre von 2000 bis 2020 zu behalten
full_data_pm25_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Schritt 10: Fllen verbleibender NaN-Werte mit dem Median fr jedes Land und Zhlen von gefllten NaNs
nan_filled_count = {}
for entity, group in full_data_pm25_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_pm25_2000_2020.update(group)

# Schritt 11: Sortieren des Wrterbuchs nach der Anzahl der gefllten NaNs in absteigender Reihenfolge
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Schritt 12: Anzeigen einer Stichprobe der endgltigen interpolierten Daten
full_data_pm25_2000_2020.sample(50)

,Entity,Year,Code,"air pollution, annual exposure (micrograms per cubic meter)"
1633,East Timor,2011,TLS,23.756720
5173,Sudan,2017,SDN,55.370834
4676,Sao Tome and Principe,2016,STP,28.666538
5450,Tonga,2015,TON,11.312968
3874,New Zealand,2020,NZL,5.956001
1571,Dominica,2011,DMA,24.276123
3959,Nigeria,2012,NGA,56.129640
3406,Malta,2017,MLT,13.909543
92,Algeria,2020,DZA,38.884010
650,Bermuda,2020,BMU,11.646359
739,Bosnia and Herzegovina,2016,BIH,27.594467
3211,Luxembourg,2008,LUX,12.717485
351,Azerbaijan,2000,AZE,22.880772
1260,Congo,2010,COG,42.009090
6012,Zambia,2019,ZMB,27.438034
106,American Samoa,2003,ASM,15.228572
3493,Mauritius,2011,MUS,15.201702
4833,Sierra Leone,2018,SLE,21.625946
5934,World,2003,OWID_WRL,47.457850
1255,Congo,2005,COG,42.689053
3855,New Zealand,2001,NZL,7.137248
4174,Palestine,2010,PSE,33.006676
2695,Israel,2019,ISR,21.381102
3984,North Korea,2006,PRK,39.144303
1695,Egypt,2011,EGY,70.786354
2970,Kyrgyzstan,2015,KGZ,24.344736
3638,Montenegro,2001,MNE,25.913554
3593,Moldova,2018,MDA,16.251032
1533,Djibouti,2004,DJI,39.534374
113,American Samoa,2010,ASM,15.072722
2245,Guam,2003,GUM,14.010791
548,Belgium,2011,BEL,15.698442
5312,Tajikistan,2001,TJK,50.814000
5931,World,2000,OWID_WRL,45.988410
4923,Slovenia,2015,SVN,17.128153
4849,Singapore,2003,SGP,20.210062
2743,Jamaica,2005,JAM,16.009632
3580,Moldova,2005,MDA,19.144522
4858,Singapore,2012,SGP,20.886494
952,Cambodia,2012,KHM,31.283733
3575,Moldova,2000,MDA,19.581100
2998,Laos,2012,LAO,30.297419
1419,Cyprus,2014,CYP,18.293528
4392,Portugal,2011,PRT,10.355013
3004,Laos,2018,LAO,25.109539
4915,Slovenia,2007,SVN,19.126368
3655,Montenegro,2018,MNE,20.781813
1871,Ethiopia,2001,ETH,35.297375
2075,Georgia,2019,GEO,22.196054
1577,Dominica,2017,DMA,19.493155

##### Electoral democracy index (Edi)

In [30]:
# Schritt 1: Entfernen von Zeilen, bei denen 'Code' NaN ist
democracy_index_data = democracy_index_data.dropna(subset=['Code'])

# Schritt 2: Erstellen einer Zuordnung von Entity zu Code
entity_code_map = democracy_index_data.drop_duplicates('Entity').set_index('Entity')['Code']

# Schritt 3: Einzigartige Lnder und den vollen Bereich der Jahre im Datensatz erhalten
unique_countries = democracy_index_data['Entity'].unique()
full_years_range = range(democracy_index_data['Year'].min(), 2021)

# Schritt 4: Erstellen eines DataFrames mit allen Kombinationen von Lndern und dem vollen Bereich der Jahre
countries_years = pd.MultiIndex.from_product([unique_countries, full_years_range], names=['Entity', 'Year'])
complete_data_frame = pd.DataFrame(index=countries_years).reset_index()

# Schritt 5: Verwenden der Zuordnung, um die 'Code'-Spalte fr die neuen Zeilen zu fllen
complete_data_frame['Code'] = complete_data_frame['Entity'].map(entity_code_map)

# Schritt 6: Zusammenfhren mit den vorhandenen Daten
merged_data_with_complete_years = pd.merge(complete_data_frame, democracy_index_data, 
                                           on=['Entity', 'Year', 'Code'], how='left')

# Schritt 7: Lineare Interpolation fr jedes Land anwenden
interpolated_data = merged_data_with_complete_years.groupby('Entity').apply(lambda group: group.interpolate(method='linear'))

# Schritt 8: Index zurcksetzen, um das DataFrame flach zu machen
interpolated_data = interpolated_data.reset_index(drop=True)

# Schritt 9: Filtern der Daten, um nur die Jahre von 2000 bis 2020 zu behalten
full_data_democracy_index_2000_2020 = interpolated_data[
    (interpolated_data['Year'] >= 2000) & (interpolated_data['Year'] <= 2020)
]

# Schritt 10: Fllen verbleibender NaN-Werte mit dem Median fr jedes Land und Zhlen von gefllten NaNs
nan_filled_count = {}
for entity, group in full_data_democracy_index_2000_2020.groupby('Entity'):
    before_fill = group.isna().sum().sum()
    group = group.fillna(group.median(numeric_only=True))
    after_fill = group.isna().sum().sum()
    nan_filled_count[entity] = before_fill - after_fill
    full_data_democracy_index_2000_2020.update(group)

# Schritt 11: Sortieren des Wrterbuchs nach der Anzahl der gefllten NaNs in absteigender Reihenfolge
sorted_nan_filled_count = dict(sorted(nan_filled_count.items(), key=lambda item: item[1], reverse=True))

# Ausgabe der Anzahl von gefllten NaNs fr jedes Land
for country, count in sorted_nan_filled_count.items():
    print(f"{country}: {count} NaNs filled with median")
    
# Schritt 12: Anzeigen einer Stichprobe der endgltigen interpolierten Daten
full_data_democracy_index_2000_2020.sample(50)

Afghanistan: 0 NaNs filled with median
Albania: 0 NaNs filled with median
Algeria: 0 NaNs filled with median
Angola: 0 NaNs filled with median
Argentina: 0 NaNs filled with median
Armenia: 0 NaNs filled with median
Australia: 0 NaNs filled with median
Austria: 0 NaNs filled with median
Azerbaijan: 0 NaNs filled with median
Baden: 0 NaNs filled with median
Bahrain: 0 NaNs filled with median
Bangladesh: 0 NaNs filled with median
Barbados: 0 NaNs filled with median
Bavaria: 0 NaNs filled with median
Belarus: 0 NaNs filled with median
Belgium: 0 NaNs filled with median
Benin: 0 NaNs filled with median
Bhutan: 0 NaNs filled with median
Bolivia: 0 NaNs filled with median
Bosnia and Herzegovina: 0 NaNs filled with median
Botswana: 0 NaNs filled with median
Brazil: 0 NaNs filled with median
Bulgaria: 0 NaNs filled with median
Burkina Faso: 0 NaNs filled with median
Burundi: 0 NaNs filled with median
Cambodia: 0 NaNs filled with median
Cameroon: 0 NaNs filled with median
Canada: 0 NaNs filled with median
Cape Verde: 0 NaNs filled with median
Central African Republic: 0 NaNs filled with median
Chad: 0 NaNs filled with median
Chile: 0 NaNs filled with median
China: 0 NaNs filled with median
Colombia: 0 NaNs filled with median
Comoros: 0 NaNs filled with median
Congo: 0 NaNs filled with median
Costa Rica: 0 NaNs filled with median
Cote d'Ivoire: 0 NaNs filled with median
Croatia: 0 NaNs filled with median
Cuba: 0 NaNs filled with median
Cyprus: 0 NaNs filled with median
Czechia: 0 NaNs filled with median
Democratic Republic of Congo: 0 NaNs filled with median
Denmark: 0 NaNs filled with median
Djibouti: 0 NaNs filled with median
Dominican Republic: 0 NaNs filled with median
East Germany: 0 NaNs filled with median
East Timor: 0 NaNs filled with median
Ecuador: 0 NaNs filled with median
Egypt: 0 NaNs filled with median
El Salvador: 0 NaNs filled with median
Equatorial Guinea: 0 NaNs filled with median
Eritrea: 0 NaNs filled with median
Estonia: 0 NaNs filled with median
Eswatini: 0 NaNs filled with median
Ethiopia: 0 NaNs filled with median
Fiji: 0 NaNs filled with median
Finland: 0 NaNs filled with median
France: 0 NaNs filled with median
Gabon: 0 NaNs filled with median
Gambia: 0 NaNs filled with median
Georgia: 0 NaNs filled with median
Germany: 0 NaNs filled with median
Ghana: 0 NaNs filled with median
Greece: 0 NaNs filled with median
Guatemala: 0 NaNs filled with median
Guinea: 0 NaNs filled with median
Guinea-Bissau: 0 NaNs filled with median
Guyana: 0 NaNs filled with median
Haiti: 0 NaNs filled with median
Hanover: 0 NaNs filled with median
Hesse Electoral: 0 NaNs filled with median
Hesse Grand Ducal: 0 NaNs filled with median
Honduras: 0 NaNs filled with median
Hong Kong: 0 NaNs filled with median
Hungary: 0 NaNs filled with median
Iceland: 0 NaNs filled with median
India: 0 NaNs filled with median
Indonesia: 0 NaNs filled with median
Iran: 0 NaNs filled with median
Iraq: 0 NaNs filled with median
Ireland: 0 NaNs filled with median
Israel: 0 NaNs filled with median
Italy: 0 NaNs filled with median
Jamaica: 0 NaNs filled with median
Japan: 0 NaNs filled with median
Jordan: 0 NaNs filled with median
Kazakhstan: 0 NaNs filled with median
Kenya: 0 NaNs filled with median
Kosovo: 0 NaNs filled with median
Kuwait: 0 NaNs filled with median
Kyrgyzstan: 0 NaNs filled with median
Laos: 0 NaNs filled with median
Latvia: 0 NaNs filled with median
Lebanon: 0 NaNs filled with median
Lesotho: 0 NaNs filled with median
Liberia: 0 NaNs filled with median
Libya: 0 NaNs filled with median
Lithuania: 0 NaNs filled with median
Luxembourg: 0 NaNs filled with median
Madagascar: 0 NaNs filled with median
Malawi: 0 NaNs filled with median
Malaysia: 0 NaNs filled with median
Maldives: 0 NaNs filled with median
Mali: 0 NaNs filled with median
Malta: 0 NaNs filled with median
Mauritania: 0 NaNs filled with median
Mauritius: 0 NaNs filled with median
Mecklenburg Schwerin: 0 NaNs filled with median
Mexico: 0 NaNs filled with median
Modena: 0 NaNs filled with median
Moldova: 0 NaNs filled with median
Mongolia: 0 NaNs filled with median
Montenegro: 0 NaNs filled with median
Morocco: 0 NaNs filled with median
Mozambique: 0 NaNs filled with median
Myanmar: 0 NaNs filled with median
Namibia: 0 NaNs filled with median
Nepal: 0 NaNs filled with median
Netherlands: 0 NaNs filled with median
New Zealand: 0 NaNs filled with median
Nicaragua: 0 NaNs filled with median
Niger: 0 NaNs filled with median
Nigeria: 0 NaNs filled with median
North Korea: 0 NaNs filled with median
North Macedonia: 0 NaNs filled with median
Norway: 0 NaNs filled with median
Oman: 0 NaNs filled with median
Pakistan: 0 NaNs filled with median
Palestine: 0 NaNs filled with median
Panama: 0 NaNs filled with median
Papua New Guinea: 0 NaNs filled with median
Paraguay: 0 NaNs filled with median
Parma: 0 NaNs filled with median
Peru: 0 NaNs filled with median
Philippines: 0 NaNs filled with median
Poland: 0 NaNs filled with median
Portugal: 0 NaNs filled with median
Qatar: 0 NaNs filled with median
Republic of Vietnam: 0 NaNs filled with median
Romania: 0 NaNs filled with median
Russia: 0 NaNs filled with median
Rwanda: 0 NaNs filled with median
Sao Tome and Principe: 0 NaNs filled with median
Saudi Arabia: 0 NaNs filled with median
Saxony: 0 NaNs filled with median
Senegal: 0 NaNs filled with median
Serbia: 0 NaNs filled with median
Seychelles: 0 NaNs filled with median
Sierra Leone: 0 NaNs filled with median
Singapore: 0 NaNs filled with median
Slovakia: 0 NaNs filled with median
Slovenia: 0 NaNs filled with median
Solomon Islands: 0 NaNs filled with median
Somalia: 0 NaNs filled with median
Somaliland: 0 NaNs filled with median
South Africa: 0 NaNs filled with median
South Korea: 0 NaNs filled with median
South Sudan: 0 NaNs filled with median
Spain: 0 NaNs filled with median
Sri Lanka: 0 NaNs filled with median
Sudan: 0 NaNs filled with median
Suriname: 0 NaNs filled with median
Sweden: 0 NaNs filled with median
Switzerland: 0 NaNs filled with median
Syria: 0 NaNs filled with median
Taiwan: 0 NaNs filled with median
Tajikistan: 0 NaNs filled with median
Tanzania: 0 NaNs filled with median
Thailand: 0 NaNs filled with median
Togo: 0 NaNs filled with median
Trinidad and Tobago: 0 NaNs filled with median
Tunisia: 0 NaNs filled with median
Turkey: 0 NaNs filled with median
Turkmenistan: 0 NaNs filled with median
Tuscany: 0 NaNs filled with median
Two Sicilies: 0 NaNs filled with median
Uganda: 0 NaNs filled with median
Ukraine: 0 NaNs filled with median
United Arab Emirates: 0 NaNs filled with median
United Kingdom: 0 NaNs filled with median
United States: 0 NaNs filled with median
Uruguay: 0 NaNs filled with median
Uzbekistan: 0 NaNs filled with median
Vanuatu: 0 NaNs filled with median
Venezuela: 0 NaNs filled with median
Vietnam: 0 NaNs filled with median
World: 0 NaNs filled with median
Wuerttemburg: 0 NaNs filled with median
Yemen: 0 NaNs filled with median
Yemen People's Republic: 0 NaNs filled with median
Zambia: 0 NaNs filled with median
Zanzibar: 0 NaNs filled with median
Zimbabwe: 0 NaNs filled with median

                       Entity  Year      Code  Electoral democracy index
26894              Mozambique  2003       MOZ                      0.430
28531                   Niger  2016       NER                      0.586
22492                 Liberia  2009       LBR                      0.660
36637             South Korea  2002       KOR                      0.845
1374                  Armenia  2003       ARM                      0.356
39187                Tanzania  2000       TZA                      0.490
31532             Philippines  2001       PHL                      0.552
20396              Kazakhstan  2001       KAZ                      0.256
18323               Indonesia  2016       IDN                      0.651
21094                  Kuwait  2003       KWT                      0.288
27831             Netherlands  2012       NLD                      0.869
25508                  Mexico  2009       MEX                      0.641
30851                Paraguay  2016       PRY                      0.590
13453                 Finland  2018       FIN                      0.876
34779            Sierra Leone  2000       SLE                      0.231
38042                  Sweden  2015       SWE                      0.921
35015               Singapore  2004       SGP                      0.389
9043                  Croatia  2016       HRV                      0.766
33619            Saudi Arabia  2000       SAU                      0.017
35024               Singapore  2013       SGP                      0.430
16454                 Hanover  2003  OWID_HAN                      0.132
27139                 Myanmar  2016       MMR                      0.413
36885             South Sudan  2018       SSD                      0.156
12275                 Eritrea  2000       ERI                      0.121
23887                Malaysia  2012       MYS                      0.318
20634                   Kenya  2007       KEN                      0.491
17151                Honduras  2004       HND                      0.569
40348                  Turkey  2001       TUR                      0.605
11587                   Egypt  2008       EGY                      0.209
32930                  Russia  2007       RUS                      0.314
20863                  Kosovo  2004  OWID_KOS                      0.515
25037               Mauritius  2002       MUS                      0.755
923                    Angola  2016       AGO                      0.309
39891     Trinidad and Tobago  2008       TTO                      0.774
25506                  Mexico  2007       MEX                      0.644
9034                  Croatia  2007       HRV                      0.782
11814             El Salvador  2003       SLV                      0.547
17843                 Iceland  2000       ISL                      0.874
5331                 Bulgaria  2016       BGR                      0.674
36416            South Africa  2013       ZAF                      0.760
4625   Bosnia and Herzegovina  2006       BIH                      0.630
8571               Costa Rica  2008       CRI                      0.910
22951               Lithuania  2004       LTU                      0.827
33390   Sao Tome and Principe  2003       STP                      0.666
8797            Cote d'Ivoire  2002       CIV                      0.442
12518                 Estonia  2011       EST                      0.879
18090                   India  2015       IND                      0.542
11352                 Ecuador  2005       ECU                      0.709
37117                   Spain  2018       ESP                      0.852
31314                    Peru  2015       PER                      0.803

### merge Final Dataframe (sven)

In [46]:
# Load base data (filtered_data from 2000 to 2020)
base_data = pd.read_csv('filtered_data-2000_2020.csv')


# Assuming all full_data_* dataframes are already loaded in your environment
dataframes_to_merge = [
    full_data_education_spendings_2000_2020,
    full_data_internet_usage_2000_2020,
    full_data_electricity_access_2000_2020,
    full_data_sanitation_2000_2020,
    full_data_smoking_2000_2020,
    full_data_gdp_2000_2020,
    full_data_meat_supply_2000_2020,
    full_data_obesity_2000_2020,
    full_data_public_healthcare_2000_2020,
    full_data_pm25_2000_2020,
    full_data_democracy_index_2000_2020
]

# Count NaNs for debugging
nan_count_before = base_data.isnull().sum().sum()
for df in dataframes_to_merge:
    nan_count_before += df.isnull().sum().sum()

# Merge each dataframe with base_data
for df in dataframes_to_merge:
    base_data = base_data.merge(df, on=['Entity', 'Year'], how='left', suffixes=('', '_extra'))

# Drop columns that were created due to overlapping names and are not needed
columns_to_drop = [col for col in base_data.columns if '_extra' in col]
base_data.drop(columns=columns_to_drop, inplace=True)

# Count NaNs after merging for debugging
nan_count_after = base_data.isnull().sum().sum()

# Save the final merged dataframe
base_data.to_csv('final_merged_data.csv', index=False)

# Debugging Information
print(f"Total NaNs in all dataframes before merging: {nan_count_before}")
print(f"Total NaNs in base_data after merging: {nan_count_after}")

Total NaNs in all dataframes before merging: 0
Total NaNs in base_data after merging: 157584

In [35]:
print("\nMissing Values:")
missing_values = full_merged_data.isnull().sum()
print(missing_values)

Missing Values:
Entity                                                             0
Code                                                               0
Year                                                               0
Sex                                                                0
Age                                                                0
Remaining Life Expectancy                                          0
Gov expenditure on education (%)                               10290
Internet usage (% of population)                                7056
Access to electricity (% of population)                         6762
Access to Sanitation (% of population)                         28518
Smoking Adults (% of population)                               21462
GDP ($)                                                        12348
Meat consumptionm in kg per year per capita                    14406
ObesityRate (BMI > 30)                                         13230
Healthcare spending (% of GDP)                                 13524
air pollution, annual exposure (micrograms per cubic meter)    12348
Electoral democracy index                                      17640
dtype: int64

## Analysis and validation (Edi)

df.describe, verteilungen visualisieren (mit interpretationstext), standarisiereung? (siehe notebook woche 7, bung 9), Ausreiser, machts berhaupt sinn?

## Feature Selection & Engineering (haris)

Korrelationen und welches sind wichtige features
binary encoding for categorial variables

## train models (alle)

## XAI (TBD)

## frontend (Sven)